---
layout: blog
post: true
---

<header class="post-header">
  <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <p class="post-meta">
    <i class="fa fa-calendar"></i>
    {{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日
    <i class="space"></i>
    {% for item in (0..page.categories.size) %}
    {% unless forloop.last %}<i class="fa fa-tags"></i>{% endunless %}
    <a class="post-category" href="/page/category.html#{{ page.categories[item] }}">{{ page.categories[item] }}</a>
    {% endfor %}
  </p>
</header>

<div class="post-main">
  <div id="category"></div>
  <div style="color: #0090d3">正文</div>
{{ content | markdownify }}
</div>

{% include share.html %}

<!-- 分页 -->
<div class="pagination">
{% if page.previous %}
<a class="pagination-item newer" href="{{ BASE_PATH }}{{ page.previous.url }}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ page.previous.title }}</a>
{% else %}
<span class="pagination-item newer">上一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
{% endif %}

{% if page.next %}
<a class="pagination-item older" href="{{ BASE_PATH }}{{ page.next.url }}">{{ page.next.title }}&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
{% else %}
<span class="pagination-item older">下一篇&nbsp;<i class="fa fa-chain-broken"></i></span>
{% endif %}
</div>

{% if page.duoshuo != false %}{% include duoshuo.html %}{% endif %}

<link rel="stylesheet" href="http://yandex.st/highlightjs/6.2/styles/googlecode.min.css">

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
 $(document).ready(function(){
      $("h2,h3,h4,h5,h6").each(function(i,item){
        var tag = $(item).get(0).localName;
        $(item).attr("id","wow"+i);
        if(i==0){
          $("#category").append('<div style="color: #0090d3">目录</div>');
        }else{
          $("#category").append('<a class="new'+tag+'" href="#wow'+i+'">'+$(this).text()+'</a></br>');
        }
        $(".newh2").css("margin-left",0);
        $(".newh3").css("margin-left",20);
        $(".newh4").css("margin-left",40);
        $(".newh5").css("margin-left",60);
        $(".newh6").css("margin-left",80);
      });
 });
</script>
